.header-text {
  background: radial-gradient(#0a99af,#057586);
  box-sizing: border-box;
    color: #fff;
    height: 140px;
    line-height: 20px;
    padding-top: 6px;
    text-align: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.book-card {
  border: 1px solid #ddd;
  padding: 6px;
}

.zg-bdg-body {
  height: 25px;
  float: left!important;
  margin-bottom: 22px;
  text-align: left!important;
}
.zg-bdg-text {
  background-color: #c45500;
}

.star-card {
  display: flex;
  flex-direction: row;
  justify-content: start;
}